{% extends 'admin/base.html.twig' %}

{% block title %} Reservations {% endblock %}

{% block extrahead %}


{% endblock %}


{% block extrafooter %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card card-table">
                <div class="card-header">Reservations</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date réservation</th>
                            <th>Montant</th>
                            <th>Nombre de part</th>
                            <th>Scpi</th>
                            <th>Compte</th>
                            <th class="actions"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for r in reservations %}
                            <tr>
                                <td> {{ r.DateRes.format('d/m/Y') }}</td>
                                <td> {{ r.montant }}</td>
                                <td> {{ r.NombrePart }}</td>
                                <td> <a href="/admin/scpi/edit/{{ r.Scpi.id }}"> {{ r.Scpi.nom }} </a> </td>
                                <td> <a href="/admin/compte/edit/{{ r.Compte.id }}"> {{ r.Compte.nom }} </a></td>
                                <td class="actions">
                                    <a class="icon" href="/admin/reservations/delete/{{ r.id }}"><i class="mdi mdi-delete"></i></a>&nbsp;&nbsp;
                                    <a class="icon" href="/admin/reservations/edit/{{ r.id }}"><i class="mdi mdi-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
